<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Noticia</title>
</head>
<body>
    <form action="dados_noticia_adm.php" method="POST" enctype="multipart/form-data">
        <label>TITULO: </label> <input type="text" name="titulo"><br><br>
        <label>POST: </label> <input type="file" name="banner"><br><br>
        <label>IMAGEM : </label> <input type="file" name="img"><br><br>
        <label>VIDEO: </label> <input type="file" name="video"><br><br>
        <label>CAIXA DE TEXTO: </label><br><textarea name="texto" cols="90" rows="30"></textarea><br><br>
        <input type="submit" name="btn" value="Salvar">
    </form>
</body>
</html>